@layout('layouts.app')
@section('content')
<div class="card bg-dark text-white">
    <img class="card-img" src="https://wpklik.com/wp-content/uploads/2019/03/A-404-Page-Best-Practices-and-Design-Inspiration.jpg" alt="404 image">
    <div class="card-img-overlay center mt 500" >
      <h5 class="card-title">404 Error</h5>
      <p class="card-text">This page is not found</p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
@endsection